SECRET_KEY=your_secret_key
DEBUG=True
DB_USER=user
DB_PASSWORD=your_password
DB_NAME=novelstack
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=novelstack