<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}novelstack{% endblock %}
    </title>
</head>
<body>
{% block nav %}
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'book_list' %}">Book List</a>
{% if user.is_authenticated %}
    <a href="{%  url 'library' %}">Library</a>
    <a href="{% url 'profile' %}">{{ user.username }}</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}
</nav>
{% endblock %}
{% block content %} {% endblock %}
</body>
</html>