{% extends 'base.html' %}
{% block title %}Book List{% endblock %}
{% block content %}
    <form method="get" action="{% url 'book_list' %}">
        <label for="title-input">Title</label>
        <input type="text" name="title" id="title-input" value="{{ title }}">
        <label for="genre-input">Genre</label>
        <select name="genre" id="genre-input">
            <option value="" {% if not genre %}selected{% endif %}>Any genre</option>
            {% for g in genres %}
            <option value="{{ g.name }}" {% if g.name == genre %}selected{% endif %}>{{ g }}</option>
            {% endfor %}
        </select>
        <label for="status-input">Status</label>
        <select name="status" id="status-input">
            <option value="" {% if not status %}selected{% endif %}>Any status</option>
            {% for value, name in status_choices %}
                <option value="{{ value }}" {% if status == value %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <button type="">Search</button>
    </form>
    {% if user.is_staff %}
    <a href="{% url 'book_create' %}">Create Book</a><br>
    {% endif %}
    {% for book in books %}
        {{ book.title }} by {{ book.author }}{% if user.is_staff %} - <a href="{% url 'book_update' book.id %}">Edit</a> - <a href="{% url 'book_delete' book.id %}">Delete</a>{% endif %} -
    <a href="{% url 'book_details' book.id %}">Details</a><br>
    {% empty %}
    <p>No books found.</p>
    {% endfor %}
{% endblock %}