{% extends 'base.html' %}
    {% block title %}Book Details{% endblock %}
{% block content %}
Title: {{ book.title }}<br>
Author: {{ book.author }}<br>
    Description: {{ book.description }}<br>
    Chapters: {{ book.chapters }}<br>
    Release Date: {{ book.release_date }}<br>
    Type: {{ book.classification }}<br>
    Genre: {{ book.genres.all|join:", " }}<br>
    Status: {{ book.status }}
    {% if not already_exists %}
{% if user.is_authenticated %}
<div>
    <form method="post" action="{% url 'add_to_library' book.id %}">
        {% csrf_token %}
        <button type="submit">Add to Library</button>
    </form>
</div>
{% endif %}
    {% endif %}
{% endblock %}